body {
    background-image: url("../assets/img/stars.jpg");
}

#articles {
    width: 90%;
    margin-left: 5%;
    padding-bottom: 5%;
}

.article {
    display: block;
    text-decoration: none;
    overflow: hidden;
    background-color: rgb(53, 53, 53);
    border-radius: 10px;
    margin-top: 0.5%;
    color: white;
    transition: 0.2s;
}
.article:hover {
    background-color: #bdd2ff;
    color: black;
    transition: 0.2s;
}

.article img {
    width: 110px;
    height: 110px;
}

.article-title-zone {
    padding-left: 1%;
}

.article-title-zone,.article img {
    display: inline-block;
    vertical-align: top;
}