@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
@import url('./topbar.css');

body,html {
 margin:0;
 padding:0;
}

body {
 font-family: "Roboto";
 background-color: #2c2929; /*#131b26*/
 color: white;
}

a {
 color: goldenrod;
}