@import url("global.css");
@import url("topbar.css");


#didyouknow-container {
 padding: 1%;
 background-image: url("../assets/img/glimpse_of_the_milky_way.jpg");
 background-size: cover;
}

#didyouknow {
 text-align: center;
 background-color: #232323;
 color: black;
 padding: 1%;
 border-radius: 10px;
 width: 60%;
 margin-left: 20%;
 color: white;
}
#didyouknow h1 {
 color: goldenrod;
}

#canvas-container {
 margin-top: 2%;
 margin-left: 2.5%;
}
#solarsys-canvas {
 border: 1px white solid;
 pointer-events: none;
 background-color: black;
 position: absolute;
}
.canvas-overlay {
 position: absolute;
 display: block;
 width: 95%;
 height: 100%;
 background-color: rgba(0, 255, 255, 0.06);
 z-index: 2;
 text-align: center;
}
.canvas-overlay .content {
 background-color: white;
 width: 50%;
 margin-left: 25%;
}

#enter-canvas {
 cursor: pointer;
}

#enter-canvas h1 {
 margin-top: 23%;
 color: gray;
}

.fade-blink {
 opacity: 0;
 animation-name: fade-blink;
 animation-iteration-count: infinite;
 animation-duration: 4s;
}

@keyframes fade-blink {
 0% {
  opacity: 0;
 }
 50% {
  opacity: 1;
 }
 100% {
  opacity: 0;
 }
}