#topbar {
 background-color: #191991;
 color: white;
 padding: 1%;
}
#topbar img,#title {
 display: inline-block;
 vertical-align: top;
}
#title {
 user-select: none;
 font-size: 170%;
 padding-top: 5px;
 font-weight: bold;
 display: inline-block;
}
#topbar-buttons {
 position: absolute;
 right: 0;
 text-align: right;
 margin-top: 5px;
 vertical-align: top;
 display: inline-block;
 margin-right: 1%;
}
#topbar-buttons a {
 padding-left: 10px;
 text-decoration: none;
 font-weight: 0;
 color: white;
 /*font-size: 130%;*/
 font-size: 1.2vw;
}
#topbar-buttons a:hover {
 text-decoration: underline;
}

.bold-a {
 font-weight: bold;
}